<div class="container-fluid text-white">
  <div class="row">
    <div class="col-9 p-0">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <video #video autoplay="true" controls></video>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="live-meta">
              <h4>スク水コスしてピアノ弾きます</h4>
              <p>@syuilo</p>
            </div>
          </div>
          <div class="col-4 text-right">
            <h4>24人が視聴中</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12 py-3">
          <ng-template ngFor let-data [ngForOf]="comments">
            <div class="chat">
              <span rcRandomColor [textColor]="user_colors">@{{data.id}}</span> {{data.body}}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
