.comments {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .list-unstyled {
    height: calc(100% - 90px);
    bottom: 48px;
    overflow-y: auto;
  }

  .send {
    padding: 10px;
    border: none;
    width: 100%;
    height: 48px;
  }
}

.top-overlay {
  width: 100%;
  height: 42px;
  top: 0;

  .bouyomiSwitch {
    cursor: pointer;
  }
}
