.comments {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .list-unstyled {
    height: calc(100% - 48px);
    overflow-y: auto;
  }

  .send {
    padding: 10px;
    border: none;
    width: 100%;
    height: 48px;
  }
}
