<div class="container min-vh-100 d-flex justify-content-center">
  <div class="container">
    <h1>現在配信中</h1>
    <div class="card-columns">
      <ng-template ngFor let-data [ngForOf]="liveInfo">
        <app-live-info-card
          [title]="data.title"
          [url]="'/@' + data.username"
          [username]="data.username"
          [thumbnail]="apiUrl + '/public/thumbnails/' + data.username + '.jpg?v=' + cacheVersion"></app-live-info-card>
      </ng-template>
    </div>
  </div>
</div>
