<div class="container">
  <h1>現在配信中</h1>
  <div class="card-columns">
      <app-live-info-card [title]="'1'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
      <app-live-info-card [title]="'2'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
      <app-live-info-card [title]="'3'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
  </div>
  <h1>最近終わった配信</h1>
  <div class="card-columns">
      <app-live-info-card [title]="'4'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
      <app-live-info-card [title]="'5'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
      <app-live-info-card [title]="'6'" [url]="''" [thumbnail]="'https://dummyimage.com/640x360'"></app-live-info-card>
  </div>
</div>
