/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

.bg-dark {
  background-color: #191919 !important;
}

.bg-grad1 {
  background: linear-gradient(90deg, #004580, #0e0e0e);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(55, 55, 55);
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.comments {
  .media-body {
    p > img.emoji {
      height: 2em;
      width: 2em;
    }
  }

  .comment-avatar {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center;
  }
}

.btn {
  border-radius: 0 !important;
  transition: all 0.25s;
}

.card-header, .card {
  border-radius: 0 !important;

  &.bg-dark {
    background-color: #282a31 !important;
  }
}

textarea, input {
  border-radius: 0 !important;
  background-color: transparent !important;
  color: #dadada !important;
}

.pointer {
  cursor: pointer;
}
