.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.live {
  position: absolute;
  width: 100%;
  height: calc(100vh - 64px);
}

.live-app {
  height: 100%;
  overflow-y: scroll;
}

.description {
  white-space: pre;
}

@media (max-width: 991px) {
  .live-app, .comments {
    max-height: 50%;
  }
}

.popup-button {
  position: absolute;
  z-index: 9;
  right: 15px;
  top: 0;
  cursor: pointer;
}

.card {
  background: #111;
  border: #333 solid 1px;

  .embed-responsive .card-img-top {
    object-fit: cover;
  }

  .card-title {
    color: #fff;
    text-decoration: none;
  }
}
