<div class="row no-gutters live">
  <div class="col-sm-12 col-md-9 live-app">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe [src]="video"></iframe>
    </div>
    <div class="container-fluid mt-1">
      <h4>{{ userData?.title }}</h4>
      <p>{{ userData?.description }}</p>
      <p>{{ userData?.tag }}</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-3 comments">
    <ul #comments class="list-unstyled m-0"></ul>
    <form (ngSubmit)="sendComment()" *ngIf="isLogin && !isCommentWait" class="mr-0 mr-md-auto">
      <input [(ngModel)]="comment" class="send" name="comment" placeholder="Enterキーでコメントを送信" type="text" autofocus>
    </form>
    <input *ngIf="!isLogin" class="send" disabled placeholder="ログインしていていないためコメントできません" type="text">
    <input *ngIf="isCommentWait" class="send" disabled placeholder="コメントを送信しました" type="text">
  </div>
</div>
